{
  "alternativeProfiles": [
{%- for profile in identity_profiles %}
    {
      "name": {{ profile | to_json }},
      "authToken": {{ _graphite_tokens[profile] | to_json }}
    }{{ "," if not loop.last else "" }}
{%- endfor %}
  ]
}
