[Unit]
Description=Rotate wallpaper

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=%h/.local/bin/wallpaper.sh
StandardOutput=journal
StandardError=journal
