# Systemd service to rotate wallpaper
[Unit]
Description=Set random wallpaper

[Service]
Type=oneshot
ExecStart=%h/.local/bin/dot wallpaper random
Environment=DISPLAY=:0
