{
  "alternativeProfiles": [
    {
      "name": "work",
      "authToken": "{{ vault_graphite_tokens.work }}"
    },
    {
      "name": "personal",
      "authToken": "{{ vault_graphite_tokens.personal }}"
    }
  ]
}
